<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>Hola {{ job.created_by.first_name }} {{ job.created_by.last_name }}, ¡Nos emociona mucho darte esta noticia!</h1>
<p></p>
<p>Tu Job con título: <b>{{ job.title }}</b> ha sido <b>Aprobado</b>, ¡Felicidades!</p>
<br><br>
<p>A partir de este momento tu publicación se encontrará visible en nuestra plataforma y visitado por los mejores!</p>
<p>Atentamente</p>
<p><a href="https://www.pythoniza.me">Pythonízame</a></p>
</body>
</html>