<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>Hola {{ job.created_by.first_name }} {{ job.created_by.last_name }}!</h1>
<p>Queremos notificarte que tu nuevo empleo con título: <b>{{ job.title }}</b> ha sido <b>Rechazado</b></p>
<p>¡No te preocupes! En unos momentos el equipo de Pythonízame se contactará contigo para hacer feedback de tu publicación</p>
<br>
<br><br>
<p>Atentamente</p>
<p><a href="https://www.pythoniza.me">Pythonízame</a></p>
</body>
</html>