{% extends 'base_security.html' %}
{% load static %}

{% block title %}
	Recuperar contraseña
{% endblock %}
{% block container %}
    <div class="container">
        <div class="card card-container">
            <a href="/"><img src="{% static 'app/img/logo.png' %}" style="display: block;margin:auto" alt="pythoniza.me" title="Regresar al inicio" width="100px" height="100px"/></a>
            <p class="lead text-center" style="margin-top: 5px">Recuperar contraseña</p>
        {% if sended %}
                  <div class="text-center">
                    <p align="center">{{ message }}</p><br>
                    <a href="/" class="btn btn-primary">De acuerdo</a><br>
                  </div>
        {% else %}
            <form action="." class="form-signin" method="post" id="frmRecover">
                {% csrf_token %}
                {% for field in form %}
                          <label for="{{ field.id }}"> {{ field.label }}</label><br>
                    <div class="form-group {% if field.errors %}has-error{% endif %}">
                          {{ field }}
                    </div>
                    {% if message %}
                            <div style="margin-top: -15px">
                                      <small style="color:red">{{ message }}</small>
                            </div>
                    {% endif %}
                          {% if field.errors %}
                              {% for error  in field.errors %}
                                  <div style="margin-top: -15px">
                                      <small style="color:red">{{ error }}</small>
                                  </div>
                            {% endfor %}
                          {% endif %}
                {% endfor %}
            <br>
            <input class="btn btn-lg btn-primary btn-block btn-signin" type="button" value="Recuperar" id="btnRecuperar">
            </form>
            <a href="{% url 'security:login' %}" class="forgot-password">
                Regresar
            </a>
        {% endif %}
        </div><!-- /card-container -->
    </div><!-- /container -->
{% endblock %}
{% block script %}
    <script>
        $(document).on('ready',function(){
           pythonizame.recoverPassword();
        });
    </script>
{% endblock script %}