{% extends "base_security.html" %}
{% load static %}
{% block title %}
    Registro
{% endblock title %}

{% block container %}
<div class="container" style="margin-top: -18px">
        <div class="card card-container" style="padding-top: 20px">
            <a href="/"><img src="{% static 'app/img/logo.png' %}" style="display: block;margin:auto" alt="pythoniza.me" title="Regresar al inicio" width="100px" height="100px"/></a>
            <p id="registroTitle" class="lead text-center" style="margin-top: 5px">Registro Pythonízame</p>
        {% if is_registered %}
                  <h3 class="text-center">¡Gracias!</h3>
              <p class="text-center">Te hemos enviado un correo para que procedas a activar tu cuenta</p><br>
              <a href="/" class="text-center">Entendido!</a>
        {% else %}
            <form action="." class="form-signin" method="post" id="frmRegister" style="margin-top: -20px">
                {% csrf_token %}
                {% for field in form %}
                    <label for="{{ field.auto_id }}"> {{ field.label }}</label><br>
                    <div class="form-group {% if field.errors %}has-error{% endif %}"
                         data-rel="{{ field.auto_id}}">
                        {{ field }}
                    </div>
                    <div style="margin-top: -15px" class="message">

                    </div>
                    {% if message %}
                        <div style="margin-top: -15px">
                            <small style="color:red">{{ message }}</small>
                        </div>
                    {% endif %}
                    {% if field.errors %}
                        {% for error  in field.errors %}
                            <div style="margin-top: -15px">
                                <small style="color:red">{{ error }}</small>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            <br>
            <input type="button" value="Registro" disabled="disabled" id="btnRegistro" class="btn btn-lg btn-primary btn-block btn-signin">
            </form>
            <div style="margin-top: 10px">
              <a href="{% url 'security:login' %}"><small>Iniciar sesión</small></a>
              <a href="{% url "security:recover_password" %}" style="color:red;float:right"><small>Recuperar contraseña</small></a>
            </div>
        {% endif %}
        </div><!-- /card-container -->
    </div><!-- /container -->
{% endblock %}
{% block script %}
    <script>
        $(document).on('ready',function(){
            pythonizame.register();
        })
    </script>
{% endblock script %}