{% extends 'base_account.html' %}
{% load static %}
{% load thumbnail %}
{% block title %} Cambiar contraseña {% endblock title %}

{% block content %}
    <div id="section_profile">
        <div>
             <div class="col-xs-12 text-center" id="perfil">
                {% if user.userprofile.image %}
                    <img  {% if edit %} data-toggle="modal" style="cursor: pointer"
                                        data-target="#modalProfilepic" {% endif %}src="
                            {% if user.userprofile.image %}{{ user.userprofile.image.url }}{% else %}{% static 'app/img/default.gif' %}{% endif %}"
                                        alt="" id="imgperfil" class="img-circle"/>
                {% else %}
                    <img  {% if edit %} data-toggle="modal" style="cursor: pointer"
                                        data-target="#modalProfilepic" {% endif %}src="{% static 'app/img/default.gif' %}"
                                        alt="" id="imgperfil" class="img-circle"/>
                {% endif %}
                <br/>
                {% if user.first_name %}
                    <h3 style=";width: auto;color:white">
                        {{ user.first_name }}{{ user.last_name }} </h3>
                {% endif %}
                {% if user.userprofile.about_me %}
                    <div class="text-center">
                        <small class="text-center text-aboutme">
                            {{ user.userprofile.about_me }} </small>
                    </div>

                    <br/>
                {% endif %}
                {% if user.userprofile.twitter and  not user.userprofile.facebook %}
                    <a href="https://twitter.com/{{ user.userprofile.twitter }}" target="_blank">
                        <small style="color:white"><i class="fa fa-twitter"></i><b>
                            @{{ user.userprofile.twitter }}</b></small>
                    </a>
                    <br/>
                {% endif %}
                {% if user.userprofile.facebook and not user.userprofile.twitter %}
                    <small style="color:white"><i class="fa fa-facebook"></i><b> {{ user.userprofile.facebook }}</b>
                    </small>
                    <br/>
                {% endif %}
                {% if user.userprofile.facebook and user.userprofile.twitter %}
                    <a href="https://twitter.com/{{ user.userprofile.twitter }}" style="margin-right: 15px"
                       target="_blank">
                        <small style="color:white"><i class="fa fa-twitter"></i><b>
                            @{{ user.userprofile.twitter }}</b></small>
                    </a>
                    <a href="https://www.facebook.com/{{ user.userprofile.facebook }}" target="_blank">
                        <small style="color:white"><i
                                class="fa fa-facebook"></i><b> {{ user.userprofile.facebook }}</b></small>
                    </a>
                    <br/>
                {% endif %}
                {% if user.userprofile.facebook and not user.userprofile.twitter %}
                    <a href="https://www.facebook.com/{{ user.userprofile.facebook }}" target="_blank">
                        <small style="color:white"><i
                                class="fa fa-facebook"></i><b> {{ user.userprofile.facebook }}</b></small>
                    </a>
                    <br/>
                {% endif %}
                {% if  user.userprofile.website %}
                    <small style="color:white"><i class="fa fa-globe"></i><b> {{ user.userprofile.website }}</b>
                    </small>
                {% endif %}

            </div>
            <div id="imglandscape">
                {% if edit %}
                    <span class="editCoverProfile" data-target="#modalCoverImage" data-toggle="modal"><i
                            class="fa fa-edit"></i></span>
                {% endif %}
                {% if user.userprofile.cover_image %}
                    <img src="{{ user.userprofile.cover_image.url }}"  alt=""
                         id="imglandscape1"/><br/>
                {% else %}
                    <img src="{% static 'app/img/cover_default.jpg' %}"  alt=""
                         id="imglandscape1"/><br/>
                {% endif %}
                {% if not edit %}
                    <a href="{% url 'account:profile_edit' user.username %}" id="lnkEditarPerfil">Editar Perfil</a>
                {% endif %}
            </div>
        </div>
        <br/><br/>

        <div class="content_perfil col-xs-12">
            <div id="EditPerfil">
                <form class="form-horizontal" method="post" action=".">
                    {% csrf_token %}
                    <fieldset>
                        <legend>Cambiar contraseña</legend>
                        <div class="form-group">
                            <label for="current" class="col-lg-1 control-label">Contraseña actual</label>

                            <div class="col-lg-9">
                                <input type="password" class="form-control" name="current" id="current">
                            </div>
                            <small class="col-lg-9" style="margin-top: 5px"><a
                                    href="{% url 'security:recover_password' %}">No recuerdo mi contraseña</a></small>
                        </div>
                        <div class="form-group">
                            <label for="password_one" class="col-lg-1 control-label">Nueva contraseña</label>

                            <div class="col-lg-9">
                                <input type="password" class="form-control" name="password_one" id="password_one">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password_two" class="col-lg-1 control-label">Repite la contraseña</label>

                            <div class="col-lg-9">
                                <input type="password" class="form-control" name="password_two" id="password_two">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-1">
                                <a href="{% url 'account:profile' user.username %}" class="btn btn-default">Regresar</a>
                                <button type="submit" class="btn btn-primary">Cambiar</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal -->
<div class="modal fade" id="modalProfilepic" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Ajustar imagen</h4>
      </div>
      <div class="modal-body text-center">
          <div id="container-pic" style="width:400px;height: 300px;margin: 0 auto;">
              {% if user.userprofile.image %}
                <img src="{{ user.userprofile.image.url }}" alt="Picture" id="pic-main" class="img-response">
                {% else %}
                  <img src="{% static 'app/img/default.gif' %}" alt="Picture" id="pic-main" class="img-response">
              {% endif %}
          </div>
{#          <div style="display: inline-block;">#}
{#               <img  id="preview" src="{{ user.userprofile.image.url }}" style="height: 200px;width: 200px" alt="Preview" class="img-response">#}
{#          </div>#}
          <div class="text-center" style="margin: 0 auto;width: 300px">
          <form action="." method="post" enctype="multipart/form-data" id="frmUploadProfilePic">
                <input type="file" id="image_profile" style="float: left"/>
          </form>
          </div>
          <p style="clear: both;"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="btnCancelCrop">Cancelar</button>
        <button type="button" class="btn btn-primary" id="btnCrop">Guardar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalCoverImage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Ajustar imagen</h4>
      </div>
      <div class="modal-body text-center">

          <div id="container-pic-cover"  style="width:400px;height: 300px;margin: 0 auto;">
              {% if user.userprofile.cover_image %}
                  <img src="{{ user.userprofile.cover_image.url }}" alt="Picture" >
              {% else %}
                  <img src="{% static 'app/img/cover_default.jpg' %}" alt="Picture" >
              {% endif %}

          </div>
{#          <div style="display: inline-block;">#}
{#               <img  id="preview-cover" src="{{ user.userprofile.cover_image.url }}" style="height: 150px;width: 300px" alt="Preview" class="img-response">#}
{#          </div>#}
          <div class="text-center" style="margin: 0 auto;width: 300px">
              <p style="clear: both;"></p>
              <form action="." method="post" enctype="multipart/form-data" id="frmUploadProfilePic">
                  <input type="file" id="image-cover" style="float:left"/>
              </form>

          </div>
          <p style="clear: both;"></p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="btnCancelCropCover">Cancelar</button>
        <button type="button" class="btn btn-primary" id="btnCropCover">Guardar</button>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
{% block scripts %}
<script src="{% static 'app/libs/choosen/chosen.jquery.min.js' %}"></script>
    <script>
        $(document).on('ready',function(){
        $('#powers_id').chosen({
            placeholder_text_multiple:"selecciona uno o mas poderes",
            no_results_text: "Oops ningún resultado encontrado!",
        });

        $(".my_select_box").chosen({
            disable_search_threshold: 10,

            width: "95%"
          });

            {% if message %}
                alertify.success({{ message }});
            {% endif %}
            pythonizame.profile();
        });
    </script>
{% endblock scripts %}

