{% load staticfiles %}
<meta name="description" content="Noticias sobre el lenguaje de Programación Python">
<meta property="og:locale" content="es_MX" />
<meta property="og:type" content="website" />
<meta property="og:image" content="{% if config.logo %}{{ config.logo.url }}{% endif %}">
<meta property="og:title" content="Pythonízame - Noticias sobre el lenguaje de Programación Python" />
<meta property="og:description" content="Noticias sobre el lenguaje de Programación Python" />
<meta property="og:url" content="http://pythoniza.me" />
<meta property="og:site_name" content="{{ config.site_name }}" />
<meta name="google-site-verification" content="eJiYWi85t4ioSwkb1JFCYBTt0vJXCbKklUtRO6v3ztE" />