<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>¡Hola {{ user.first_name }} {{ user.last_name }}!</h1>
<p>Hemos recibido una solicitud de cambio de contraseña.</p>
<p>Por favo haz clic en el siguiente link:
    <br>
    <a href="{{ url_change_password }}"> <b>{{ url_change_password }}</b></a></p>
<br>
<p>Si no has sido tu la persona que ha solicitado este cambio, no te preocupes, solo omite el correo
y sigue disfrutando del accesso completo a nuestra plataforma.</p><br>
<p>Atentamente</p>
<p>Pythonízame</p>
</body>
</html>